/* TODO: #8 Compact repeated styles into utility classes */

/* Global styles */
* {
  box-sizing: border-box!important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

/* Nav area */
nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: center;
}

nav a {
  text-decoration: none;
  width: auto;
  padding: 0% 20vw;
}

#logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 59px;
  background: -webkit-linear-gradient(left, rgba(255,110,127,1) , rgba(191,233,255,1));
  background: -o-linear-gradient(right, rgba(255,110,127,1), rgba(191,233,255,1));
  background: -moz-linear-gradient(right, rgba(255,110,127,1), rgba(191,233,255,1));
  background: linear-gradient(to right, rgba(255,110,127,1) , rgba(191,233,255,1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: auto; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 100vh;
  margin: 0;
}

/* SECTIONS */
.section {
  height: 100vh;
}

/* Left sidebar */
.left {
  width: 15vw;
}

/* Right sidebar */
.right {
  width: 15vw;
}

/* Content area */
.mid {
  width: 70vw;
  padding: 0 5vw;
}

/* List generator styling */

.list-generator {
  display: flex;
  flex-direction: row;
}

.instructions-section {
  padding: 0% 1%;
  width: 60%;
}

.link-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0% 1%;
  width: 40%;
}

.tab-switcher {
  padding: 3% 0%;
}

.tab {
  padding-right: 5%;
  text-decoration: none;
  font-size: 20px;
}

.textbox-section {
  text-align: center;
}

.input {
  width: 100%;
  border-radius: 5px;
  padding: 3%;
  font-family: 'Poppins', sans-serif;
  resize: none;
  margin-bottom: 5px;
}

.btn {
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: #24B4FF;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Previous lists section */
.previous-list {
  display: flex;
  flex-direction: column;
  padding: 3% 20%;
  height: 100%;
  /* justify-content: center; */
}

.lists-section {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.lists-info {
  color: grey;
  font-size: small;
}

.list-item {
  padding: 1% 0%;
  text-decoration: none;
  color: #24B4FF;
  font-size: small;
}

.list-item:hover {
  font-size: large;
}

.prev-title {
  margin-bottom: 0;
}

/* User controls section */
.user-controls {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  width: 100%;
  height: 100%;
  /* justify-content: center; */
}

.save-section {
  display: flex;
  flex-direction: column;
}

.save-textbox {
  margin-bottom: 0;
}

.save-button {
  width: 40%;
  border: 0;
  padding: 5% 0%;
  margin-left: auto;
  background-color: transparent;
  font-weight: bold;
  text-align: right;
}

.save-button:hover {
  cursor: pointer;
}

.saved-info {
  color: #28a745;
  margin-left: auto;
}

.reset-button {
  border: 0;
  background-color: #FFE3E3;
  padding: 3%;
  color: #FF0000;
  font-weight: bold;
  margin-top: 20px;
}

/* Sorted section */
.sorted-section {
  text-align: center;
}

.sorted-info {
  color: grey;
  font-size: small;
  padding: 10% 0%;
}

.sorted-section-title {
  padding: 3% 0;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.min-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
}

.min-category h4 {
  margin-bottom: 0;
}

.mat-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.strike-txt {
  text-decoration: line-through;
  font-style: italic;
  color: grey;
}

.material {
  display: flex;
  flex-direction: row;
  height: 25px;
  align-items: center;
}

.controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls {
  color: black;
  cursor: pointer;
}

.control-icon {
  font-size: 18px;
}

.controls:focus {
  color: black;
}

.controls:hover {
  margin-top: -1px;
}