* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 80%;
  padding-top: 0.1%;
  padding-left: 10%;
}

#logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 59px;
  background: -webkit-linear-gradient(left, rgba(255,110,127,1) , rgba(191,233,255,1));
  background: -o-linear-gradient(right, rgba(255,110,127,1), rgba(191,233,255,1));
  background: -moz-linear-gradient(right, rgba(255,110,127,1), rgba(191,233,255,1));
  background: linear-gradient(to right, rgba(255,110,127,1) , rgba(191,233,255,1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 20%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav a {
  text-decoration: none;
}

.list-generator {
  display: flex;
  flex-direction: row;
}

.instructions-section {
  padding: 0% 1%;
}

.link-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0% 1%;
}

.tab-switcher {
  padding: 3% 0%;
}

.tab {
  padding-right: 5%;
  text-decoration: none;
}

.textbox-section {
  text-align: center;
}

.input {
  width: 100%;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  resize: none;
}

.btn {
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: #24B4FF;
  padding-top: 1%;
  padding-bottom: 1%;
}